@import "../../shared-components/vars.css";

.Welcome-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.Girl-diva {
  height: 700px;
  margin-top: 50px;
  width: auto;
}

.DisplayText {
  font-size: var(--font-size-welecome);
  font-family: var(--font-header);
}

.Welcome-text-container {
  margin-left: 25px;
  width: 360px;
  min-width: 400px;
  pointer-events: none;
  letter-spacing: 2px;
  line-height: 2;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .Welcome-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  .Girl-diva {
    height: 400px;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .Welcome-text-container {
    margin-left: 60px;
    width: 300px;
    min-width: 300px;
    letter-spacing: 1.25px;
  }

  .Welcome-subtext {
    font-size: 15px;
  }
}
