@import "../../shared-components/vars.css";

.Girl-container {
  position: relative;
}

.Girl-diva {
  height: 80vh;
  padding: 5% 0 10% 25%;
  z-index: 20;
}

.DisplayText {
  font-size: xx-large;
  font-family: var(--font-header);
}

.Welcome-container {
  position: absolute;
  left: 45%;
  top: 35%;
  pointer-events: none;
  color: #000;
  letter-spacing: 2px;
  line-height: 2;
}
