@import "../../shared-components/vars.css";

.Project-container {
  padding: 90px 0 380px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1000px;
  min-width: 1000px;
}

.Project-container:last-of-type {
  margin-bottom: 100px;
}

.Project-img-container {
  position: absolute;
  display: block;
}

.Project-img {
  width: 450px;
  position: absolute;
  border-radius: 4px;
  box-shadow: var(--project-box-shadow);
}

.Project-img--left {
  left: 520px;
}

.Project-board {
  margin-top: 20px;
  width: 375px;
  padding: 25px 0;
  font-size: var(--font-size-project-description);
}

.Project-board--left {
  position: absolute;
  text-align: left;
}

.Project-board--right {
  position: absolute;
  text-align: right;
  left: 850px;
}

.Project-text {
  padding: 10px 0;
  letter-spacing: 0.4px;
}

.Project-header {
  font-size: 20px;
  font-family: var(--font-header);
}

.Project-icon {
  margin-top: 15px;
  cursor: pointer;
}

.Project-icon:hover {
  cursor: pointer;
}

.Language-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 15px 0 10px;
}

.Language-list-elem {
  margin: 3px 10px 3px 0;
  font-family: var(--font-robot);
  font-size: var(--font-size-language-elem);
  font-weight: var(--font-weight-language-elem);
  padding: 2px 10px;
  border-radius: 3px;
  color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  background: 0 0;
}
