.DesignNotes--thoughts {
  width: 100%;
  max-width: 300px;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  margin: 0 0 0 20%;
  padding: 15px 5%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.DesignNotes-page {
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
}

.About-container {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
}

.Girl-dozing {
  height: 50vh;
}

.Girl-dozing-container {
  display: block;
  padding: 0 40px;
}

.About-dropdown {
  margin: 0;
  padding-left: 25%;
  display: block;
  z-index: 2;
  width: 20rem;
}
