.DesignNotes--thoughts {
  width: 100%;
  max-width: 300px;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

  margin: 0 0 0 20%;
  padding: 15px 5%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.DesignNotes--thoughts p {
  font-size: 15px;
}

.DesignNotes--thoughts a {
  color: inherit;
}

.DesignNotes-page {
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
}

.DesignNotes-container {
  display: flex;
  flex-wrap: wrap;
}

.Girl-dozing {
  height: 50vh;
}

.Girl-dozing-container {
  padding: 20px 40px;
}
