.Dropdown-summary {
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 18px;
  font-family: "Rowdies", cursive;

  display: flex;
  align-items: center;
}

.Dropdown {
  height: 300px;
  min-height: 350px;
  width: 100%;
  max-width: 300px;
}

.Dropdown p {
  font-size: 13px;
}

.Dropdown a {
  color: inherit;
}

.Dropdown-content {
  margin-top: 1.2rem;
}

.Dropdown-point-icon {
  margin-left: 0.5em;
}
