@import "../../shared-components/vars.css";

.Experience-page {
  display: block;
  margin: 0;
}

.Tab-container {
  padding: 30px 32% 200px;
  height: 400px;
  display: block;
  align-items: center;
}

.Tab-container ul {
  display: block;
  position: relative;
  width: max-content;
  z-index: 3;
  padding: 0px;
  margin-bottom: 30px;
  list-style: none;
}

.Tab-container li {
  display: inline-flex;
}

.Tab-button {
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-header);

  margin: 0;

  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-box-align: center;

  width: 200px;
  background-color: transparent;
  height: 50px;
  text-align: left;
  white-space: nowrap;
  border: none;

  text-decoration: none;
  padding: 0px 0 2px;
  justify-content: center;

  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  border-bottom: 2px solid #cfdef3;
}

.Tab-button:focus {
  outline: none;
}

.Tab-button:hover {
  background-color: #cfdef3;
}

.Tab-button:active {
  outline: none;
  background-color: #cfdef3;
}

.Tab-heading {
  font-size: 20px;
  font-family: var(--font-header);
}

.Place-location {
  padding: 0 0 10px 0;
}

.Place-role {
  font-size: 18px;
}

.Place-location-text {
  color: var(--color-light-periwinkle);
  font-weight: 500;
}

.Place-time {
  color: var(--color-dark-periwinkle);
}
