@import "../../shared-components/vars.css";

.Experience-page {
  display: block;
  margin: 0;
}

.Tab-container ul {
  display: block;
  position: relative;
  width: max-content;
  z-index: 3;
  padding: 0px;
  margin-bottom: 30px;
  list-style: none;
}

.Tab-container li {
  display: inline-flex;
}

.Tab-button {
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-header);

  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 50px;
  text-align: left;
  white-space: nowrap;
  border: none;
  border-radius: 3px;
  margin: 0 20px;

  /* color: rgb(100, 255, 218); */
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  /* border-top: 2px solid rgb(48, 60, 85); */
}

.Tab-container {
  padding: 30px 34%;
  display: block;
  align-items: center;
}

.Tab-heading {
  font-size: 20px;
  font-family: var(--font-header);
}

.Place-location {
  color: var(--color-light);
}

.Place-time {
  color: var(--color-light);
}
