.Writing-page-content {
  /* position: relative; */
  /* padding: 50px 0; */
  margin: 0 auto;
  display: block;
}

.Writing-archive {
  overflow: hidden;
  display: inline-flex;
}

.Writing-archive div {
  position: relative;
  width: 200px;
  animation: marqueeRight linear 18s infinite;
}

@keyframes marqueeRight {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.Writing-archive:hover div {
  cursor: hover;
  animation-play-state: paused;
}

.li {
  float: left;
  width: 100%;
  padding: 1%;
  /* height: 100px; */
}

.Writing-archive-container {
  width: 4250px;
  margin: 0;
}

.Writing-line--title {
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.Writing-line-container {
  padding-right: 50px;
  display: inline-block;
  /* white-space: nowrap; */

  /* width: 200px; */
}

.Writing-line--publish {
  color: rgb(168, 178, 209);
  font-size: 0.9rem;
  margin: 5px 0;
}

.Writing-page-container {
  margin: auto;
  width: 100%;
  display: block;
}

.Writing-thought-container {
  position: absolute;
  left: 250px;
}

.Writing-thought-header {
  font-size: 28px;
  font-family: "Rowdies", cursive;
  margin-bottom: 10px;
}
