.Writing-page-content {
  display: block;
}

.Writing-archive {
  overflow: hidden;
  display: flex;
  padding: 20px 0 30px 0;
}

.Writing-archive div {
  position: absolute;
  width: 20%;
  right: -100%;
  justify-content: space-between;
  animation: marquee 50s linear 0s infinite;
}

.Writing-archive .line-0 {
  animation: marquee 50s linear 0s infinite;
}

.Writing-archive .line-1 {
  animation: marquee 50s linear -5s infinite;
}

.Writing-archive .line-2 {
  animation: marquee 50s linear -10s infinite;
}

.Writing-archive .line-3 {
  animation: marquee 50s linear -15s infinite;
}

.Writing-archive .line-4 {
  animation: marquee 50s linear -20s infinite;
}

.Writing-archive .line-5 {
  animation: marquee 50s linear -25s infinite;
}

.Writing-archive .line-6 {
  animation: marquee 50s linear -30s infinite;
}

.Writing-archive .line-7 {
  animation: marquee 50s linear -35s infinite;
}

.Writing-archive .line-8 {
  animation: marquee 50s linear -40s infinite;
}

.Writing-archive .line-9 {
  animation: marquee 50s linear -45s infinite;
}

.Writing-archive:hover div {
  cursor: hover;
  animation-play-state: paused;
  z-index: 1000;
}

@keyframes marquee {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.Writing-line--title {
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.Writing-line-container {
  padding-right: 50px;
  /* display: inline-block; */
}

.Writing-line--publish {
  color: rgb(168, 178, 209);
  font-size: 0.9rem;
  margin: 5px 0;
}

.Writing-page-container {
  margin: auto;
  width: 100%;
  display: block;
}

.Writing-thought-container {
  position: absolute;
  left: 250px;
}

.Writing-thought-header {
  font-size: 28px;
  font-family: "Rowdies", cursive;
  margin-bottom: 10px;
}
